body{
    font-family: Arial,sans-serif;
    background-image: linear-gradient(to right,#b3e5fc,#ffffff);
    margin: 0;
    padding: 0;
}
.geral{
    width: 90%;
    max-width: 500px;
    background-color: white;
    margin: 50px auto;
    padding: 30px;
    border-radius: 15px;
    box-shadow: 0 0 15px rgba(0,0,0,0.2);
}
h1{
    text-align: center;
    color: #2196f3;
}
label{
    font-weight: bold;
    color: #01579b;
}
input{
    width: 100%;
    padding: 10px;
    margin-top: 5px;
    margin-bottom: 15px;
    border: 1px solid #81d4fa;
    border-radius: 8px;
}
button{
    width: 100%;
    padding: 16px;
    background-color: #03a9f4;
    color: white;
    border: none;
    border-radius: 8px;
    font-size: 16px;
    cursor: pointer;
}
button:hover{
    background-color: #0288d1;
}
select{
    background-color: white;
    font-weight: bold;
    color: #666;
    width: 100%;
    padding: 10px;
    margin-top: 5px;
    margin-bottom: 15px;
    border: 1px solid #81d4fa;
    border-radius: 8px;
}
input[readonly]{
    border: 1px solid #ccc;
    cursor: not-allowed;
}
